.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #efefef;
  border: 1px solid #afafaf;
  box-sizing: border-box;
}

.react-resizable .react-resizable-handle.se-resize {
  right: -10px;
  bottom: -10px;
  cursor: se-resize;
}

.react-resizable .react-resizable-handle.ne-resize {
  right: -10px;
  top: -10px;
  cursor: ne-resize;
}

.react-resizable .react-resizable-handle.nw-resize {
  left: -10px;
  top: -10px;
  cursor: nw-resize;
}


.react-resizable .react-resizable-handle.sw-resize {
  left: -10px;
  bottom: -10px;
  cursor: sw-resize;
}


